src/META-INF/wsdl/localhost_8080/PublicacaoServico/RetornarPublicacao.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://publicacaoweb.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://publicacaoweb.com.br/">

<xs:element name="pesquisa" type="tns:pesquisa"/>

<xs:element name="pesquisaResponse" type="tns:pesquisaResponse"/>

<xs:complexType name="pesquisa">
<xs:sequence>
<xs:element name="codigo" type="xs:int" minOccurs="0"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="paginaInicial" type="xs:int" minOccurs="0"/>
<xs:element name="paginaFinal" type="xs:int" minOccurs="0"/>
<xs:element name="anoPublicacao" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pesquisaResponse">
<xs:sequence>
<xs:element name="return" type="tns:publicacao" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="publicacao">
<xs:sequence>
<xs:element name="anoPublicacao" type="xs:int" minOccurs="0"/>
<xs:element name="descricao" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="paginaFinal" type="xs:int" minOccurs="0"/>
<xs:element name="paginaInicial" type="xs:int" minOccurs="0"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>